Source: tve-core
Section: utils
Priority: extra
Maintainer: Stephen Paul Weber <singpolyma@singpolyma.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: http://theveeb.com

Package: tve-core
Architecture: any
Depends: tcl (>= 8.4), tk (>= 8.4), tk-tile, curl, oauth-utils, ${shlibs:Depends}, ${misc:Depends}
Description: Application store and package manager.
 This is the core utilities and GUI that one needs to purchase and manage
 software from The Veeb Ecosystem.
